**/.idea/
**/.vs/
**/obj/
**/bin/
**/.vscode
**/.DS_Store
**/.history/



*.o
**/a.h
**/doc_elf.txt
**/.gitignore
**/trashbin.txt

**/.vscode/tasks.json
**/.vscode/settings.json

**/string_table.txt
**/a.c
**/.vscode/launch.json
**/elf.h
**/package.json
**/elf_linker-1.0/
**/concat
**/concat.c
**/concat.o
**/elfFile
**/package-lock.json
**/fusion_result.o
